
    <div class="columns features is-centered is-desktop">
      <div class="column is-2">
        <div class="card">
          <div class="card-image has-text-centered">
              <img src="<%= asset_pack_path "images/raid_banner/the-emerald-nightmare.jpg" %>"/>
          </div>
          <div class="card-content">
                <h6 class="has-text-weight-bold is-size"> The Emerald Nightmare </h6> <br/>
                Mythic <progress class="progress is-success is-medium" value="100" max="100" data-label="7/7"></progress>
                Heroic <progress class="progress is-success is-medium" value="100" max="100" data-label="7/7">11/11</progress>
                
   
          </div>
        </div>
      </div>
            <div class="column is-2">
        <div class="card">
          <div class="card-image has-text-centered">
              <img src="<%= asset_pack_path "images/raid_banner/trial-of-valor.jpg" %>"/>
          </div>
          <div class="card-content">
                <h6 class="has-text-weight-bold is-size"> Trial of Valor </h6><br/>
                          </br>
                Mythic <progress class="progress is-success is-medium" value="100" max="100" data-label="3/3"></progress>
                Heroic <progress class="progress is-success is-medium" value="100" max="100" data-label="3/3">11/11</progress>
                
     
          </div>
        </div>
        
      </div>

      <div class="column is-2">
        <div class="card">
          <div class="card-image has-text-centered">
              <img src="<%= asset_pack_path "images/raid_banner/the-nighthold.jpg" %>"/>
          </div>
          <div class="card-content">
                <h6 class="has-text-weight-bold"> The Nighthold </h6><br/>
                           </br>
                Mythic <progress class="progress is-success is-medium" value="100" max="100" data-label="10/10"></progress>
                Heroic <progress class="progress is-success is-medium" value="100" max="100" data-label="10/10">11/11</progress>
                
          </div>

        </div>
      </div>     
            <div class="column is-2">
        <div class="card">
          <div class="card-image has-text-centered">
              <img src="<%= asset_pack_path "images/raid_banner/tomb-of-sargeras.jpg" %>"/>
          </div>
          <div class="card-content">
                <h6 class="has-text-weight-bold"> Tomb of Sargeras</h6>
                          <br/>          <br/>
                Mythic <progress class="progress is-danger is-medium" value="90" max="100" data-label="8/9"></progress>
                Heroic <progress class="progress is-success is-medium" value="100" max="100" data-label="9/9">11/11</progress>

          </div>
          
        </div>
      </div> 
      <div class="column is-2">
        <div class="card">
          <div class="card-image has-text-centered">
              <img src="<%= asset_pack_path "images/raid_banner/antorus-the-burning-throne.jpg" %>"/>
          </div>
          <div class="card-content">
                <h6 class="has-text-weight-bold"> Antrous, The Burning Throne </h6><br/>
                Mythic <progress class="progress is-danger is-medium" value="70" max="100" data-label="9/11"></progress>
                Heroic <progress class="progress is-success is-medium" value="100" max="100" data-label="11/11">11/11</progress>
          </div>
        </div>
      </div>
    </div>
