dead

<% if false %>
<!DOCTYPE html>
<html>
  <head>
    <title>Icky Sticky Ooey Gooey | Frostmourne | OCE</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag    'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="has-navbar-fixed-top">
    <%= render 'layouts/navbar' %>
    <% if current_page?(root_url) || current_page?(applied_url) %>
      <%= render 'layouts/header'%>
    <% end %>
    <% if current_page?(root_url) || current_page?(apply_path) %>
      <%= render 'layouts/recruiting' %>
    <% end %>
    <section class="container">
      <% if !flash.empty? %>
        <%= render 'layouts/flash' %>
      <% end %>
      <% if current_page?(root_url)  %>
        <%= render 'layouts/progression' %>
      <% end %>
      <%= yield %>
      </section>

  <% if false %>
    <section class="hero is-dark is-fullheight">
    <div class="hero gooey-hero is-fullheight" id="gooey-bg-display">
      <%= render 'layouts/navbar' %>
      <% if !flash.empty? %>
        <%= render 'layouts/flash' %>
      <% end %>
      <%= yield %>
      </div>
    </section>
    <% end %>
  </body>
</html>
<% end %>